// It is a branding purposed file. It is not related to the project at all 😅
doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Document
  link(rel="shortcut icon", href="/intro/logo.svg", type="image/x-icon")

body 

  .intro-wrapper
    svg#logo(width='311' height='117' viewbox='0 0 311 117' fill='none' xmlns='http://www.w3.org/2000/svg')
      path(d='M45.1741 4.49605C45.0092 5.07478 44.8443 5.81887 44.6794 6.7283C44.5557 7.59639 44.4114 8.56783 44.2465 9.64262C47.256 9.89064 50.3686 10.2213 53.5842 10.6347C56.8411 11.0481 60.0155 11.5855 63.1074 12.2469C66.1994 12.867 69.147 13.611 71.9504 14.4791C74.795 15.3059 77.351 16.2567 79.6184 17.3315L79.1237 18.5096C74.5888 17.9309 70.054 17.5381 65.5191 17.3315C61.0255 17.0834 56.5319 16.9594 52.0382 16.9594C50.5953 16.9594 49.1318 17.0008 47.6477 17.0834C46.2048 17.1661 44.7413 17.2488 43.2571 17.3315C42.9273 20.3905 42.5975 23.8008 42.2677 27.5626C41.9379 31.283 41.6287 35.2101 41.3401 39.3439C41.0928 43.4776 40.866 47.7561 40.6599 52.1793C40.495 56.5611 40.3713 60.9635 40.2889 65.3867C40.2064 69.7685 40.1858 74.0883 40.227 78.3461C40.3095 82.5626 40.4744 86.593 40.7217 90.4374C40.9691 94.2405 41.3195 97.7749 41.773 101.041C42.2265 104.306 42.8036 107.138 43.5045 109.536C43.5869 109.908 43.69 110.28 43.8137 110.652C43.9786 111.065 44.061 111.458 44.061 111.83C44.061 112.491 43.8961 113.008 43.5663 113.38C43.2365 113.793 42.7212 114 42.0203 114C41.1134 114 40.2064 113.752 39.2994 113.256C38.4337 112.76 37.6504 112.284 36.9496 111.83C35.7128 111.003 34.7646 109.68 34.105 107.861C33.4453 106.042 32.9713 104.079 32.6827 101.971C32.3941 99.8625 32.2292 97.7956 32.188 95.77C32.1467 93.7445 32.1261 92.0703 32.1261 90.7475C32.1261 87.6058 32.188 84.1334 32.3116 80.3303C32.4765 76.5272 32.6827 72.5381 32.93 68.363C33.2186 64.1466 33.569 59.8268 33.9813 55.4036C34.3935 50.9391 34.8883 46.5366 35.4654 42.1962C36.0426 37.8144 36.6816 33.5359 37.3824 29.3608C38.1245 25.1856 38.949 21.2585 39.856 17.5795C36.8053 17.7862 33.7545 18.0755 30.7038 18.4476C27.6943 18.7783 24.7467 19.1917 21.8609 19.6877C19.0163 20.1838 16.2747 20.7418 13.6363 21.3619C11.0391 21.9406 8.62734 22.602 6.40114 23.3461C5.90643 23.5941 5.37049 23.7182 4.79333 23.7182C3.59778 23.7182 3 23.1188 3 21.92C3 21.0932 3.22674 20.2458 3.68023 19.3777C4.13371 18.5096 4.5872 17.7448 5.04068 17.0834C5.74152 16.0913 6.79279 15.2232 8.19447 14.4791C9.55492 13.6937 11.1215 13.0116 12.8942 12.4329C14.7082 11.8129 16.6046 11.3168 18.5834 10.9448C20.6035 10.5314 22.5617 10.2007 24.4581 9.95265C26.3545 9.66328 28.1272 9.47726 29.7762 9.39459C31.4665 9.27057 32.8476 9.20857 33.9194 9.20857C35.1562 9.20857 36.4548 9.24991 37.8153 9.33258C39.1758 9.37392 40.5774 9.43593 42.0203 9.5186C42.68 7.45171 43.3602 5.61218 44.061 4L45.1741 4.49605Z' stroke='#F9FAF7' stroke-width='3' mask='url(#path-1-outside-1)')
      path(d='M82.8959 60.6742C82.8959 61.1289 82.7309 61.5423 82.4011 61.9143C82.0713 62.245 81.6797 62.4104 81.2262 62.4104C80.8552 62.4104 80.4635 62.307 80.0513 62.1003C79.639 61.8523 79.1649 61.5836 78.629 61.2942C78.1343 61.0049 77.5365 60.7569 76.8356 60.5502C76.176 60.3021 75.4133 60.1781 74.5476 60.1781C72.5275 60.1781 70.7136 60.8189 69.1058 62.1003C67.5392 63.3405 66.1994 64.8906 65.0863 66.7508C64.0144 68.611 63.1899 70.5953 62.6127 72.7035C62.0355 74.8117 61.7469 76.7133 61.7469 78.4081C61.7469 79.6069 61.85 80.785 62.0561 81.9425C62.2623 83.0586 62.6127 84.0921 63.1074 85.0428C63.6433 85.9523 64.3648 86.6964 65.2718 87.2751C66.1787 87.8125 67.3331 88.0812 68.7347 88.0812C70.2189 88.0812 71.6412 87.8125 73.0016 87.2751C74.3621 86.6964 75.6401 85.9523 76.8356 85.0428C76.8769 83.72 77.083 82.3352 77.454 80.8884C77.8663 79.4002 78.3816 77.9534 79 76.5479C79.6184 75.1011 80.3192 73.7369 81.1025 72.4555C81.927 71.174 82.7722 70.0372 83.6379 69.0451L84.4418 69.5411C83.9883 70.9466 83.6585 72.3935 83.4524 73.8816C83.2463 75.3698 83.1432 76.8373 83.1432 78.2841C83.1432 79.7723 83.2669 81.1778 83.5142 82.5006C83.7616 83.8234 84.1945 84.9808 84.8129 85.9729C85.4312 86.9237 86.2764 87.6885 87.3483 88.2672C88.4201 88.8046 89.8012 89.0733 91.4915 89.0733C93.5528 89.0733 95.4491 88.5979 97.1806 87.6471C98.9121 86.6964 100.437 85.4976 101.757 84.0507L102.251 84.2988C101.509 85.7456 100.541 87.1304 99.345 88.4532C98.1494 89.776 96.8096 90.9748 95.3255 92.0496C93.8826 93.083 92.3366 93.9098 90.6876 94.5299C89.0385 95.1499 87.4101 95.46 85.8023 95.46C83.5349 95.46 81.6797 94.7986 80.2368 93.4758C78.7939 92.1943 77.8044 90.5614 77.2685 88.5772C75.537 90.3134 73.5994 91.7809 71.4557 92.9797C69.3531 94.1372 67.1269 94.7159 64.7771 94.7159C63.0456 94.7159 61.4996 94.3852 60.1391 93.7238C58.8199 93.1037 57.7068 92.2563 56.7998 91.1815C55.8929 90.1067 55.192 88.8459 54.6973 87.3991C54.2438 85.9109 54.0171 84.3608 54.0171 82.7486C54.0171 80.8884 54.3057 78.9868 54.8828 77.044C55.5012 75.0598 56.3257 73.1169 57.3564 71.2153C58.4283 69.3138 59.6857 67.5156 61.1286 65.8207C62.5715 64.1259 64.1381 62.6377 65.8283 61.3563C67.5598 60.0748 69.3737 59.062 71.2701 58.3179C73.1665 57.5738 75.1042 57.2018 77.083 57.2018C77.5365 57.2018 78.093 57.2638 78.7526 57.3878C79.4123 57.4705 80.0513 57.6359 80.6697 57.8839C81.288 58.1319 81.8034 58.4833 82.2156 58.938C82.6691 59.3927 82.8959 59.9714 82.8959 60.6742Z' stroke='#F9FAF7' stroke-width='3' mask='url(#path-1-outside-1)')
      path(d='M152.712 84.0507C152.011 85.5389 151.145 87.0271 150.115 88.5152C149.125 89.962 148.012 91.2849 146.775 92.4837C145.539 93.6411 144.178 94.5919 142.694 95.336C141.21 96.08 139.623 96.4521 137.932 96.4521C136.077 96.4521 134.469 95.956 133.109 94.9639C131.749 94.0132 130.594 92.7523 129.646 91.1815C128.698 89.5693 127.915 87.7298 127.296 85.6629C126.678 83.596 126.162 81.4671 125.75 79.2762C125.338 77.0853 124.988 74.8944 124.699 72.7035C124.452 70.5126 124.204 68.5077 123.957 66.6888C122.638 68.425 121.442 70.2646 120.37 72.2074C119.298 74.1503 118.268 76.1759 117.278 78.2841C116.289 80.351 115.32 82.4592 114.372 84.6088C113.424 86.7584 112.414 88.8873 111.342 90.9955C111.094 91.4502 110.847 91.9463 110.6 92.4837C110.352 92.9797 110.064 93.4344 109.734 93.8478C109.404 94.3025 109.012 94.6746 108.559 94.9639C108.106 95.2533 107.57 95.398 106.951 95.398C106.374 95.398 105.879 95.2946 105.467 95.0879C105.096 94.8812 104.766 94.6125 104.478 94.2818C104.23 93.9925 104.024 93.6618 103.859 93.2897C103.736 92.9177 103.632 92.5663 103.55 92.2356C103.055 90.4581 102.602 88.2259 102.19 85.5389C101.819 82.8519 101.489 79.979 101.2 76.92C100.912 73.861 100.685 70.7606 100.52 67.6189C100.396 64.4359 100.334 61.5009 100.334 58.814C100.334 54.9696 100.582 51.0218 101.076 46.9707C101.571 42.8782 102.334 38.8891 103.365 35.0034C104.436 31.1176 105.776 27.4592 107.384 24.0282C109.033 20.5558 110.971 17.5175 113.197 14.9132C115.423 12.3089 117.959 10.242 120.803 8.71251C123.689 7.18301 126.905 6.41826 130.45 6.41826C132.8 6.41826 134.655 7.12101 136.015 8.52649C137.376 9.89064 138.056 11.8542 138.056 14.4171C138.056 18.2616 137.376 21.9613 136.015 25.5163C134.696 29.0301 132.985 32.3991 130.883 35.6234C128.822 38.8478 126.513 41.9068 123.957 44.8005C121.442 47.6528 119.01 50.2984 116.66 52.7373L115.856 52.1172C116.887 50.9598 117.979 49.5336 119.133 47.8388C120.329 46.1026 121.483 44.2424 122.596 42.2582C123.751 40.2326 124.843 38.1244 125.874 35.9335C126.905 33.7012 127.812 31.5103 128.595 29.3608C129.378 27.2112 129.996 25.1443 130.45 23.1601C130.903 21.1345 131.13 19.295 131.13 17.6415C131.13 16.7734 131.048 15.9466 130.883 15.1612C130.718 14.3758 130.429 13.6937 130.017 13.115C129.605 12.4949 129.069 12.0195 128.409 11.6888C127.791 11.3168 127.028 11.1308 126.121 11.1308C124.307 11.1308 122.596 11.8335 120.989 13.239C119.422 14.6445 117.979 16.546 116.66 18.9436C115.341 21.2999 114.166 24.0489 113.135 27.1905C112.146 30.3322 111.28 33.6186 110.538 37.0496C109.837 40.4806 109.301 43.953 108.93 47.4667C108.559 50.9805 108.373 54.3288 108.373 57.5118C108.373 59.6614 108.373 61.8316 108.373 64.0225C108.373 66.2135 108.415 68.5077 108.497 70.9053C108.621 73.3029 108.806 75.8452 109.054 78.5321C109.342 81.2191 109.734 84.1334 110.229 87.2751C112.043 82.5626 113.96 77.9534 115.98 73.4476C118 68.9004 120.185 64.746 122.535 60.9842C122.864 60.4468 123.194 59.9094 123.524 59.372C123.895 58.8346 124.287 58.3593 124.699 57.9459C125.111 57.4912 125.565 57.1191 126.059 56.8298C126.554 56.5404 127.09 56.3957 127.667 56.3957C128.368 56.3957 128.925 56.6024 129.337 57.0158C129.749 57.3878 130.079 57.8632 130.326 58.4419C130.574 59.0207 130.739 59.6407 130.821 60.3021C130.945 60.9635 131.048 61.5629 131.13 62.1003C131.295 63.2991 131.481 64.8493 131.687 66.7508C131.893 68.6524 132.14 70.6986 132.429 72.8895C132.717 75.0391 133.068 77.2093 133.48 79.4002C133.934 81.5911 134.49 83.5753 135.15 85.3529C135.851 87.0891 136.675 88.5152 137.623 89.6313C138.571 90.7475 139.705 91.3055 141.024 91.3055C142.096 91.3055 143.168 91.0782 144.24 90.6234C145.312 90.1687 146.343 89.59 147.332 88.8873C148.321 88.1845 149.228 87.3784 150.053 86.469C150.919 85.5596 151.64 84.6708 152.217 83.8027L152.712 84.0507Z' stroke='#F9FAF7' stroke-width='3' mask='url(#path-1-outside-1)')
      path(d='M223.517 84.2988C222.775 85.7869 221.889 87.2337 220.858 88.6392C219.828 90.0034 218.673 91.2228 217.395 92.2976C216.117 93.3724 214.695 94.2198 213.129 94.8399C211.603 95.5013 209.934 95.832 208.12 95.832C205.564 95.832 203.482 94.9639 201.874 93.2277C200.266 91.4915 198.947 89.2386 197.916 86.469C196.927 83.658 196.143 80.4957 195.566 76.982C194.989 73.4269 194.494 69.8512 194.082 66.2548C193.134 67.9496 192.248 69.7272 191.423 71.5874C190.64 73.4062 189.877 75.3284 189.135 77.354C188.393 79.3796 187.651 81.4671 186.909 83.6167C186.167 85.7663 185.363 87.9778 184.497 90.2514C184.291 90.7475 184.064 91.3055 183.817 91.9256C183.57 92.5043 183.24 93.0624 182.828 93.5998C182.456 94.1785 182.003 94.6539 181.467 95.0259C180.931 95.398 180.292 95.584 179.55 95.584C179.014 95.584 178.54 95.46 178.128 95.2119C177.715 94.9639 177.344 94.6539 177.015 94.2818C176.726 93.9511 176.458 93.5791 176.211 93.1657C176.005 92.711 175.819 92.2976 175.654 91.9256C174.83 90.0654 174.17 88.1638 173.675 86.221C173.181 84.2781 172.748 82.2732 172.377 80.2063C172.047 78.1394 171.758 75.9485 171.511 73.6336C171.264 71.3187 171.016 68.8591 170.769 66.2548C169.903 68.2803 169.12 70.2232 168.419 72.0834C167.759 73.9023 167.1 75.7418 166.44 77.602C165.822 79.4209 165.183 81.3224 164.523 83.3067C163.905 85.2495 163.245 87.3578 162.544 89.6313C162.379 90.1687 162.194 90.7475 161.988 91.3675C161.823 91.9463 161.596 92.4837 161.308 92.9797C161.06 93.4758 160.71 93.8891 160.256 94.2198C159.844 94.5505 159.308 94.7159 158.648 94.7159C157.577 94.7159 156.793 94.3645 156.299 93.6618C155.804 93.0004 155.392 92.215 155.062 91.3055C154.567 90.0654 154.093 88.3499 153.64 86.159C153.186 83.9267 152.774 81.5085 152.403 78.9042C152.032 76.2999 151.743 73.6129 151.537 70.8433C151.331 68.0737 151.228 65.49 151.228 63.0924C151.228 60.7775 151.846 59.0827 153.083 58.0079C154.32 56.8918 155.948 56.3337 157.968 56.3337C158.092 56.3337 158.277 56.3337 158.525 56.3337C158.772 56.3337 159.02 56.375 159.267 56.4577C159.514 56.4991 159.72 56.5817 159.885 56.7057C160.091 56.8298 160.174 56.9951 160.133 57.2018C159.762 60.0955 159.514 62.8444 159.391 65.4487C159.267 68.053 159.226 70.5953 159.267 73.0755C159.308 75.5145 159.432 77.9327 159.638 80.3303C159.885 82.6866 160.194 85.1048 160.566 87.5851C161.266 85.2289 161.947 82.9759 162.606 80.8264C163.307 78.6768 164.028 76.5479 164.771 74.4397C165.513 72.3315 166.296 70.2026 167.12 68.053C167.986 65.8621 168.914 63.5678 169.903 61.1702C170.439 59.9301 170.996 59.062 171.573 58.566C172.191 58.0699 172.975 57.8219 173.923 57.8219C175.118 57.8219 176.046 58.2766 176.705 59.186C177.406 60.0955 177.86 61.1289 178.066 62.2864C178.396 64.3946 178.684 66.5648 178.932 68.7971C179.179 70.988 179.447 73.1995 179.736 75.4318C180.024 77.664 180.375 79.8756 180.787 82.0665C181.199 84.2161 181.735 86.3036 182.395 88.3292C183.219 86.1796 184.044 83.9474 184.868 81.6325C185.693 79.2762 186.538 76.92 187.404 74.5637C188.269 72.2074 189.176 69.8925 190.124 67.6189C191.114 65.3454 192.165 63.1958 193.278 61.1702C193.814 60.2195 194.412 59.434 195.072 58.814C195.772 58.1526 196.638 57.8219 197.669 57.8219C198.246 57.8219 198.761 57.9666 199.215 58.2559C199.668 58.5039 200.06 58.8553 200.39 59.31C200.72 59.7234 200.988 60.1988 201.194 60.7362C201.4 61.2322 201.544 61.749 201.627 62.2864C201.833 63.4852 202.018 65.0353 202.183 66.9369C202.389 68.8384 202.637 70.864 202.925 73.0135C203.255 75.1631 203.647 77.3333 204.1 79.5242C204.554 81.6738 205.131 83.6374 205.832 85.4149C206.532 87.1511 207.378 88.5772 208.367 89.6933C209.356 90.8095 210.552 91.3675 211.954 91.3675C213.108 91.3675 214.221 91.1608 215.293 90.7475C216.365 90.2927 217.375 89.7347 218.323 89.0733C219.271 88.3705 220.137 87.5851 220.92 86.717C221.745 85.8076 222.487 84.9188 223.146 84.0507L223.517 84.2988Z' stroke='#F9FAF7' stroke-width='3' mask='url(#path-1-outside-1)')
      path(d='M235.514 43.1263C235.514 43.953 235.329 44.7798 234.958 45.6065C234.587 46.4333 234.092 47.1774 233.474 47.8388C232.896 48.4588 232.216 48.9756 231.433 49.389C230.65 49.8023 229.846 50.009 229.021 50.009C227.949 50.009 227.084 49.6576 226.424 48.9549C225.806 48.2522 225.496 47.3634 225.496 46.2886C225.496 45.4619 225.682 44.6558 226.053 43.8703C226.424 43.0436 226.898 42.3202 227.475 41.7001C228.094 41.08 228.774 40.584 229.516 40.2119C230.299 39.7986 231.103 39.5919 231.928 39.5919C232.999 39.5919 233.865 39.9226 234.525 40.584C235.184 41.2454 235.514 42.0928 235.514 43.1263ZM252.829 84.2988C251.881 85.8696 250.747 87.3164 249.428 88.6392C248.15 89.9207 246.728 91.0575 245.161 92.0496C243.636 93.0004 241.987 93.7445 240.214 94.2818C238.483 94.8192 236.689 95.0879 234.834 95.0879C232.525 95.0879 230.464 94.6952 228.65 93.9098C226.877 93.1244 225.373 92.0496 224.136 90.6855C222.94 89.28 222.013 87.6471 221.353 85.7869C220.735 83.8854 220.426 81.8185 220.426 79.5862C220.426 77.1886 220.776 74.9151 221.477 72.7655C222.178 70.6159 223.146 68.611 224.383 66.7508C225.62 64.8493 227.063 63.1131 228.712 61.5423C230.402 59.9714 232.196 58.566 234.092 57.3258L234.834 57.8839C232.814 60.2815 231.165 62.9684 229.887 65.9448C228.65 68.9211 228.032 72.0214 228.032 75.2458C228.032 77.106 228.238 78.9042 228.65 80.6404C229.104 82.3352 229.784 83.844 230.691 85.1669C231.639 86.4897 232.835 87.5438 234.277 88.3292C235.72 89.1146 237.472 89.5073 239.534 89.5073C241.966 89.5073 244.275 88.9906 246.46 87.9572C248.686 86.9237 250.685 85.6216 252.458 84.0507L252.829 84.2988Z' stroke='#F9FAF7' stroke-width='3' mask='url(#path-1-outside-1)')
      path(d='M307 84.2988C306.34 85.6629 305.516 86.903 304.526 88.0192C303.537 89.0939 302.424 90.024 301.187 90.8095C299.95 91.5535 298.631 92.1323 297.229 92.5457C295.828 92.959 294.364 93.1657 292.839 93.1657C289.623 93.1657 286.882 92.3803 284.614 90.8095C282.388 89.2386 280.512 87.1924 278.987 84.6708C277.874 85.9109 276.637 87.1511 275.277 88.3912C273.957 89.59 272.535 90.6648 271.01 91.6156C269.526 92.525 267.98 93.2691 266.372 93.8478C264.764 94.4265 263.156 94.7159 261.548 94.7159C259.611 94.7159 257.879 94.3232 256.354 93.5378C254.829 92.7523 253.53 91.7189 252.458 90.4374C251.386 89.1146 250.562 87.6265 249.985 85.9729C249.407 84.2781 249.119 82.5212 249.119 80.7024C249.119 77.9741 249.717 75.2251 250.912 72.4555C252.149 69.6858 253.757 67.1849 255.736 64.9526C257.756 62.6791 260.064 60.8395 262.662 59.434C265.259 58.0286 267.959 57.3258 270.762 57.3258C271.587 57.3258 272.308 57.4085 272.927 57.5738V54.9696C272.927 53.7708 272.968 52.1793 273.05 50.195C273.133 48.2108 273.298 46.0199 273.545 43.6223C273.793 41.1834 274.102 38.6411 274.473 35.9955C274.885 33.3085 275.4 30.6629 276.019 28.0586C276.678 25.413 277.441 22.9121 278.307 20.5558C279.173 18.1582 280.183 16.0706 281.337 14.2931C282.491 12.4743 283.81 11.0274 285.295 9.95265C286.779 8.87787 288.448 8.34047 290.304 8.34047C292.488 8.34047 294.261 8.98121 295.622 10.2627C296.982 11.5442 298.054 13.1357 298.837 15.0372C299.621 16.8974 300.136 18.8816 300.383 20.9899C300.672 23.0981 300.816 24.979 300.816 26.6325C300.816 28.782 300.61 31.283 300.198 34.1353C299.785 36.9463 299.208 39.9433 298.466 43.1263C297.724 46.2679 296.838 49.4923 295.807 52.7993C294.777 56.1063 293.663 59.2894 292.468 62.3484C291.272 65.4074 289.974 68.2597 288.572 70.9053C287.212 73.5096 285.83 75.7212 284.429 77.54C284.965 79.1522 285.604 80.6404 286.346 82.0045C287.129 83.3687 288.036 84.5468 289.067 85.5389C290.097 86.531 291.272 87.3164 292.592 87.8952C293.911 88.4325 295.416 88.7012 297.106 88.7012C300.981 88.7012 304.155 87.1511 306.629 84.0507L307 84.2988ZM281.646 49.761C281.646 51.2492 281.646 52.9853 281.646 54.9696C281.646 56.9124 281.687 58.9793 281.77 61.1702C281.893 63.3611 282.079 65.6141 282.326 67.929C282.615 70.2026 283.027 72.4141 283.563 74.5637C285.295 71.2153 286.882 67.5569 288.325 63.5885C289.768 59.5787 291.004 55.4863 292.035 51.3112C293.107 47.0947 293.931 42.8989 294.509 38.7238C295.086 34.5487 295.374 30.6009 295.374 26.8805C295.374 26.0951 295.333 24.9583 295.251 23.4701C295.168 21.982 294.941 20.5145 294.57 19.0676C294.199 17.5795 293.643 16.298 292.901 15.2232C292.159 14.1071 291.149 13.549 289.871 13.549C288.881 13.549 287.995 14.0244 287.212 14.9752C286.428 15.8846 285.748 17.1248 285.171 18.6956C284.594 20.2251 284.099 21.982 283.687 23.9662C283.316 25.9504 282.986 28.0173 282.697 30.1669C282.45 32.3164 282.244 34.4453 282.079 36.5536C281.955 38.6618 281.852 40.6253 281.77 42.4442C281.729 44.2217 281.687 45.7719 281.646 47.0947C281.646 48.3762 281.646 49.2649 281.646 49.761ZM266.063 87.9572C268.413 87.9572 270.577 87.5024 272.556 86.593C274.576 85.6836 276.41 84.4848 278.059 82.9966C277.276 81.4671 276.596 79.8343 276.019 78.0981C275.483 76.3206 275.009 74.543 274.596 72.7655C274.225 70.9466 273.916 69.1278 273.669 67.3089C273.463 65.49 273.298 63.7332 273.174 62.0383C272.679 61.5009 272.061 61.0669 271.319 60.7362C270.577 60.3641 269.67 60.1781 268.598 60.1781C266.66 60.1781 264.929 60.7155 263.404 61.7903C261.919 62.8237 260.662 64.1466 259.631 65.7587C258.601 67.3296 257.817 69.0658 257.282 70.9673C256.746 72.8275 256.478 74.605 256.478 76.2999C256.478 77.8707 256.643 79.3796 256.972 80.8264C257.343 82.2319 257.921 83.472 258.704 84.5468C259.487 85.5802 260.477 86.407 261.672 87.0271C262.909 87.6471 264.372 87.9572 266.063 87.9572Z' stroke='#F9FAF7' stroke-width='3' mask='url(#path-1-outside-1)')

  div.main
  div.footer
      div.bubbles
          - for (var i = 0; i < 128; i++) //Small numbers looks nice too
              div.bubble(style=`--size:${2+Math.random()*4}rem; --distance:${6+Math.random()*4}rem; --position:${-5+Math.random()*110}%; --time:${2+Math.random()*2}s; --delay:${-1*(2+Math.random()*2)}s;`)
      div.content
      
  svg(style="position:fixed; top:100vh")
      defs
          filter#blob
              feGaussianBlur(in="SourceGraphic" stdDeviation="10" result="blur")
              feColorMatrix(in="blur" mode="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 19 -9" result="blob")
              feComposite(in="SourceGraphic" in2="blob" operator="atop")
    


style.
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
  }

  .intro-wrapper{
      background: #1F1E1E;
      height: 100vh;
      width: 100vw;
      transition: opacity ease-in-out 0.4s;
      display: flex;
      align-items: center;
      justify-content: center;
      z-index : 100000000000;
      position : absolute;
      top : 0 ;
      left : 0;
  }

  .intro-wrapper #logo{
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%,-50%);
      fill: transparent;
      transition: all 0.5s ease-in-out;
      opacity: 0;
  }

  @keyframes letter {
      to{
          stroke-dashoffset: 0;
      }
  }

script.
  let wrapper = document.querySelector('.intro-wrapper')
  let letters = document.querySelectorAll('svg path')
  let word = document.querySelector('svg')
  let all = document.querySelector('*')

  window.addEventListener('load',()=>{
    letters.forEach((l, index) => {
      let delay = index / 2.3
      l.style.strokeDasharray= (l.getTotalLength())+'px'
      l.style.strokeDashoffset = (l.getTotalLength()) + 'px'
      setTimeout(() => {
          word.style.opacity="1"
          l.style.animation = `letter 0.6s ${delay}s ease-in-out forwards`
          if (index === letters.length - 1) {
              setTimeout(() => {
                  word.style.fill = "#F9FAF7"
              }, (delay+0.3) * 1000)
              
              setTimeout(() => {
                  wrapper.style.opacity = "0"
                  all.style.overflowY="scroll"
              }, (delay + 1.2) * 1000)

              setTimeout(() => {
                  wrapper.style.display = "none"
              }, (delay + 1.7) * 1000)
          }
      },300)
    })
  })
